.Weather .weather-app {
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.Weather header {
  border-bottom: 1px solid rgb(231, 241, 250);
  padding-bottom: 30px;
}

.Weather .search-form-input {
  background: rgb(231, 241, 250);
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px 20px;
  width: 82%;
}

.Weather .search-form-button {
  background: rgb(128, 162, 219);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}

.Weather .search-form-button:hover {
  cursor: pointer;
  filter: opacity(90%);
}

.Weather main {
  padding: 30px 0;
}

.Weather .current-weather-data {
  display: flex;
  justify-content: space-between;
}

.Weather .current-weather-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.Weather .current-weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
}

.Weather .current-weather-details strong {
  color: #f65282;
}

.Weather .current-temp-details {
  display: flex;
}

.Weather .current-temp-icon {
  height: 88px;
  width: 88px;
}

.Weather .current-temp {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.Weather .current-temp-unit {
  font-size: 28px;
  margin-top: 6px;
}

.Weather footer {
  border-top: 1px solid rgb(231, 241, 250);
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding-top: 30px;
  text-align: center;
}

.Weather a {
  color: rgb(128, 162, 219);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.Weather a:hover {
  text-decoration: underline;
}